
node_modules/
client/node_modules/
server/node_modules/
/.pnp
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
client/dist/
server/dist/

build/
client/build/
server/build/

# testing
/coverage


.DS_Store
Thumbs.db

.cache/
.vscode/
*.swp
*.swo
*.swn

.idea/
.vscode/
*.iml

package-lock.json
yarn.lock

*.bak

server/uploads

