.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other elements */
  background-color: black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.gray-text {
  color: gray;
}

.nav-links {
  display: flex;
  gap: 24px;
  /* Equivalent to space-x-6 */
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: gray;
}