.search-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-input {
    width: 50%;               /* Adjust as needed */
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 9999px;      /* Large value for a "pill" shape */
  outline: none;              /* Remove default outline on focus */
  font-size: 1rem;
    /* Gray border */
    border-radius: 8px;
    color: black;
    font-size: 16px;
}

.search-button {
    margin-left: 16px;
    background-color: black;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #1f2937;
    /* Darker gray on hover */
}
